data_num 3
time_limt 3000  #单位为毫秒
memory_limt 16 
sudo timeout 3s cgexec -g memory:/ /home/aurora/learn-C-and-CPP/Judge/0.0.3/judge_data/0001/user_tmp_exec/test_ac.out < /home/aurora/learn-C-and-CPP/Judge/0.0.3/judge_data/0001/test_data/0.in | /home/aurora/learn-C-and-CPP/Judge/0.0.2/diffg.out /home/aurora/learn-C-and-CPP/Judge/0.0.3/judge_data/0001/test_data/0.ans